*, :before, :after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; }

img {
  max-width: 100%;
  vertical-align: top; }

a {
  text-decoration: none; }

html {
  width: 100%;
  height: 100%; }

body {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  width: 100%;
  height: 100%;
  background: url("../../img/background.jpg") center center no-repeat;
  background-size: cover; }

.splash {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 1010;
  background: url("../../img/background.jpg") center center no-repeat;
  background-size: cover;
  background-color: #144372; }
  .splash img {
    width: 200px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

.user-data {
  display: none;
  width: 100%;
  min-height: 600px;
  position: relative;
  opacity: 1;
  z-index: 1000;
  background: url("../../img/background.jpg") center center no-repeat;
  background-size: cover;
  padding: 25px; }
  .user-data .sep {
    padding: 0 0 30px; }
    .user-data .sep label {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 100;
      color: #fff;
      display: block;
      padding: 0 0 10px; }
    .user-data .sep input[type="text"],
    .user-data .sep input[type="number"] {
      width: 100%;
      height: 50px;
      background: #2c669b;
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      color: #fff; }
      .user-data .sep input[type="text"]:focus,
      .user-data .sep input[type="number"]:focus {
        outline: 0 none; }
  .user-data .btn {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    padding: 25px 0; }
    .user-data .btn input {
      display: block;
      height: 60px;
      width: 100%;
      background: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 60px;
      color: #3774ba;
      text-align: center;
      cursor: pointer;
      border: 0 none; }

.user-select {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  z-index: 900;
  background: url("../../img/background.jpg") center center no-repeat;
  background-size: cover;
  padding: 25px; }
  .user-select header {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding: 0 50px;
    box-sizing: border-box;
    transform: translate(-50%, -50%); }
  .user-select .step-select {
    text-align: center;
    padding-bottom: 20px; }
    .user-select .step-select__item {
      display: inline-block;
      padding: 0 5px; }
      .user-select .step-select__item a {
        display: block;
        width: 70px;
        height: 70px;
        pointer-events: none;
        cursor: default; }
      .user-select .step-select__item:nth-child(1) a {
        background: url("../../img/icon-step1.png") 0 0 no-repeat;
        background-size: 70px; }
        .user-select .step-select__item:nth-child(1) a.active {
          width: 80px;
          height: 80px;
          background: url("../../img/icono-step1-active.png") 0 0 no-repeat;
          background-size: cover; }
      .user-select .step-select__item:nth-child(2) a {
        background: url("../../img/icon-step2.png") 0 0 no-repeat;
        background-size: 70px; }
        .user-select .step-select__item:nth-child(2) a.active {
          width: 80px;
          height: 80px;
          background: url("../../img/icono-step2-active.png") 0 0 no-repeat;
          background-size: cover; }
      .user-select .step-select__item:nth-child(3) a {
        background: url("../../img/icon-step3.png") 0 0 no-repeat;
        background-size: 70px; }
        .user-select .step-select__item:nth-child(3) a.active {
          width: 80px;
          height: 80px;
          background: url("../../img/icono-step3-active.png") 0 0 no-repeat;
          background-size: cover; }
  .user-select__title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 60px;
    color: #fff;
    padding: 0 0 10px; }
  .user-select__description {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #fff; }
  .user-select__continue {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px; }
    .user-select__continue a {
      display: block;
      height: 60px;
      width: 100%;
      background: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 60px;
      color: #3774ba;
      text-align: center; }

.smartness {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  opacity: 1;
  z-index: 900;
  padding: 25px; }
  .smartness__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #3774ba; }
  .smartness__description {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #3774ba;
    padding-bottom: 50px; }
  .smartness__question {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
    color: #3774ba; }
  .smartness__answers {
    padding: 30px 0 0;
    clear: both; }
    .smartness__answers__cards {
      text-align: center;
      float: left;
      width: 50%;
      padding-bottom: 30px; }
      .smartness__answers__cards a {
        display: block;
        width: 70px;
        margin: 0 auto; }
      .smartness__answers__cards:first-child {
        width: 100%; }
        .smartness__answers__cards:first-child a {
          margin: 0 auto; }
  .smartness__timer {
    width: 100%;
    position: absolute;
    bottom: 40px;
    left: 0;
    text-align: center; }
    .smartness__timer .smartness__body__timer {
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      font-weight: 100;
      color: #3774ba; }
  .smartness__results {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    opacity: 1;
    z-index: 90;
    padding: 25px;
    background: url("../../img/background.jpg") center center no-repeat;
    background-size: cover; }
    .smartness__results__title {
      font-family: 'Roboto', sans-serif;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: -1px;
      color: #fff;
      text-align: center; }
    .smartness__results__description {
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: -1px;
      color: #fff;
      text-align: center; }
    .smartness__results__header {
      display: none; }
    .smartness__results__body {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%); }
      .smartness__results__body__text {
        display: none; }
      .smartness__results__body p {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 100;
        color: #fff;
        text-align: center; }
        .smartness__results__body p:last-child {
          opacity: 0.8; }
    .smartness__results__buttons {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 25px; }
      .smartness__results__buttons button {
        display: block;
        height: 60px;
        width: 48%;
        background: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 60px;
        color: #3774ba;
        text-align: center;
        cursor: pointer;
        border: 0 none;
        float: left; }
        .smartness__results__buttons button:nth-child(1), .smartness__results__buttons button:nth-child(2) {
          margin-right: 10px; }
        .smartness__results__buttons button:lart-child {
          margin-left: 10px; }
      .smartness__results__buttons .btn {
        display: block; }
    .smartness__results.success .smartness__results__header.smart {
      display: block; }
    .smartness__results.success .smartness__results__body__text.smart {
      display: block; }
    .smartness__results.success .btn {
      display: block; }
      .smartness__results.success .btn.unsmart {
        display: none; }
    .smartness__results.error .smartness__results__header.unsmart {
      display: block; }
    .smartness__results.error .smartness__results__body__text.unsmart {
      display: block; }
    .smartness__results.error .btn {
      display: block; }
      .smartness__results.error .btn.smart {
        display: none; }

.strengthness {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  opacity: 1;
  z-index: 900;
  padding: 25px; }
  .strengthness__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #3774ba;
    margin-bottom: 20px; }
  .strengthness__description {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #3774ba; }
  .strengthness__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .strengthness__timer {
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 0;
    text-align: center; }
    .strengthness__timer .strengthness__body__timer {
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      font-weight: 100;
      color: #3774ba; }
  .strengthness__btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px; }
    .strengthness__btn a {
      display: block;
      height: 60px;
      width: 100%;
      background: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 60px;
      color: #3774ba;
      text-align: center;
      cursor: pointer;
      border: 0 none; }
  .strengthness__results {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    opacity: 1;
    z-index: 90;
    padding: 25px;
    background: url("../../img/background.jpg") center center no-repeat;
    background-size: cover; }
    .strengthness__results__title {
      font-family: 'Roboto', sans-serif;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: -1px;
      color: #fff;
      text-align: center; }
    .strengthness__results__description {
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: -1px;
      color: #fff;
      text-align: center; }
    .strengthness__results__header {
      display: none; }
    .strengthness__results__body {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%); }
      .strengthness__results__body__text {
        display: none; }
      .strengthness__results__body p {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 100;
        color: #fff;
        text-align: center; }
        .strengthness__results__body p:last-child {
          opacity: 0.8; }
    .strengthness__results__buttons {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 25px; }
      .strengthness__results__buttons button {
        display: block;
        height: 60px;
        width: 48%;
        background: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 60px;
        color: #3774ba;
        text-align: center;
        cursor: pointer;
        border: 0 none;
        float: left; }
        .strengthness__results__buttons button:nth-child(1), .strengthness__results__buttons button:nth-child(2) {
          margin-right: 10px; }
        .strengthness__results__buttons button:lart-child {
          margin-left: 10px; }
      .strengthness__results__buttons .btn {
        display: none; }
    .strengthness__results.success .strengthness__results__header.strength {
      display: block; }
    .strengthness__results.success .strengthness__results__body__text.smart {
      display: block; }
    .strengthness__results.success .btn {
      display: block; }
      .strengthness__results.success .btn.unstrength {
        display: none; }
    .strengthness__results.error .strengthness__results__header.unstrength {
      display: block; }
    .strengthness__results.error .strengthness__results__body__text.unsmart {
      display: block; }
    .strengthness__results.error .btn {
      display: block; }
      .strengthness__results.error .btn.strength {
        display: none; }

.happiness {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  opacity: 1;
  z-index: 900;
  padding: 25px; }
  .happiness__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #3774ba; }
  .happiness .step {
    display: none; }
    .happiness .step.show {
      display: block; }
    .happiness .step header {
      padding-top: 20px; }
    .happiness .step video {
      margin: 15px 20px;
      width: 90%; }
    .happiness .step .emotion-icons {
      width: 30%;
      margin: 0 auto; }
      .happiness .step .emotion-icons img {
        display: none; }
        .happiness .step .emotion-icons img.show {
          display: inline-block; }
  .happiness button {
    padding: 20px; }

.happiness__results {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  opacity: 1;
  z-index: 90;
  padding: 25px;
  background: url("../../img/background.jpg") center center no-repeat;
  background-size: cover; }
  .happiness__results__title {
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
    text-align: center; }
  .happiness__results__description {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
    text-align: center; }
  .happiness__results__header {
    display: none; }
  .happiness__results__body {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%); }
    .happiness__results__body p {
      font-family: 'Roboto', sans-serif;
      font-size: 30px;
      font-weight: 100;
      color: #fff;
      text-align: center; }
      .happiness__results__body p:last-child {
        opacity: 0.8; }
  .happiness__results__buttons {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 25px; }
    .happiness__results__buttons button {
      display: block;
      height: 60px;
      width: 48%;
      background: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #3774ba;
      text-align: center;
      cursor: pointer;
      border: 0 none;
      float: left; }
      .happiness__results__buttons button:nth-child(1), .happiness__results__buttons button:nth-child(2) {
        margin-right: 10px; }
      .happiness__results__buttons button:lart-child {
        margin-left: 10px; }
    .happiness__results__buttons .btn {
      display: block; }
  .happiness__results.is-happy .happy {
    display: block; }
  .happiness__results.is-happy .btn.happy {
    display: block; }
  .happiness__results.is-happy .btn.unhappy {
    display: none; }
  .happiness__results.is-unhappy .unhappy {
    display: block; }
  .happiness__results.is-unhappy .btn.happy {
    display: none; }
  .happiness__results.is-unhappy .btn.unhappy {
    display: block; }

/*
  .btn,
  .result-description {
    display: none;
  }

  #happinessBtnNext {
    display: inline-block;
  }
*/
.summary {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  opacity: 1;
  z-index: 90;
  padding: 25px;
  background: url("../../img/background.jpg") center center no-repeat;
  background-size: cover; }
  .summary h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
    text-align: center; }
  .summary .summary-text {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 300;
    letter-spacing: -1px;
    color: #fff;
    text-align: center; }
  .summary .result-img {
    padding: 50px 10px 0; }
  .summary .result-img2 {
    display: none;
    padding: 20px 10px 0; }
    .summary .result-img2 h2 {
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      text-align: center;
      color: #fff;
      padding-bottom: 30px; }
  .summary .result-icons {
    margin: 20px 0;
    overflow: hidden;
    clear: both; }
    .summary .result-icons > li {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      font-weight: 100;
      float: left;
      width: 33.33%;
      text-align: center;
      color: #fff; }
  .summary .results-footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    clear: both;
    padding: 25px; }
    .summary .results-footer .results-share {
      float: left;
      width: 50%;
      padding-right: 10px;
      box-sizing: border-box; }
    .summary .results-footer .results-start-over {
      float: right;
      width: 50%;
      padding-left: 10px;
      box-sizing: border-box; }
    .summary .results-footer a {
      display: block;
      height: 60px;
      width: 100%;
      background: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 60px;
      color: #3774ba;
      text-align: center;
      cursor: pointer;
      border: 0 none; }

/*# sourceMappingURL=styles.css.map */
