*, :before, :after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
}

img {
    max-width: 100%;
    vertical-align: top;
}

a {
    text-decoration: none;
}

html {
  width: 100%;
  height: 100%;
}

body {
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    background: url('../../img/background.jpg') center center no-repeat;
    background-size: cover;
}

// .wrap {
//     width: 360px;
//     margin: 0 auto;
// }


//Splash
.splash {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    z-index:1010;
    background: url('../../img/background.jpg') center center no-repeat;
    background-size: cover;
    background-color: #144372;

    img {
      width: 200px;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
}

//Splash
.user-data {
    display: none;
    // position: fixed;
    // top: 0;
    // left: 0;
    width: 100%;
    min-height: 600px;
    //background-color: yellow;
    position: relative;
    opacity: 1;
    z-index:1000;
    background: url('../../img/background.jpg') center center no-repeat;
    background-size: cover;
    padding: 25px;

    .sep {
      padding: 0 0 30px;

      label {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 100;
        color: #fff;
        display: block;
        padding: 0 0 10px;
      }

      input[type="text"],
      input[type="number"] {
        width: 100%;
        height: 50px;
        background: #2c669b;
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        color: #fff;

        &:focus {
          outline: 0 none;
        }
      }
    }

    .btn {
      width: 100%;
      position: relative;
      bottom: 0;
      left: 0;
      padding: 25px 0;

      input {
        display: block;
        height: 60px;
        width: 100%;
        background: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 60px;
        color: #3774ba;
        text-align: center;
        cursor: pointer;
        border: 0 none;
      }
    }
}

//user-select
.user-select {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    //background-color: green;
    opacity: 1;
    z-index:900;
    background: url('../../img/background.jpg') center center no-repeat;
    background-size: cover;
    padding: 25px;

    header {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      padding: 0 50px;
      box-sizing: border-box;
      transform: translate(-50%, -50%);
    }

    .step-select {
      text-align: center;
      padding-bottom: 20px;

      &__item {
        display: inline-block;
        padding: 0 5px;

        a {
          display: block;
          width: 70px;
          height: 70px;
          pointer-events: none;
          cursor: default;
        }

        &:nth-child(1) {
          a {
            background: url('../../img/icon-step1.png') 0 0 no-repeat;
            background-size: 70px;

            &.active {
              width: 80px;
              height: 80px;
              background: url('../../img/icono-step1-active.png') 0 0 no-repeat;
              background-size: cover;
            }
          }
        }

        &:nth-child(2) {
          a {
            background: url('../../img/icon-step2.png') 0 0 no-repeat;
            background-size: 70px;

            &.active {
              width: 80px;
              height: 80px;
              background: url('../../img/icono-step2-active.png') 0 0 no-repeat;
              background-size: cover;
            }
          }
        }

        &:nth-child(3) {
          a {
            background: url('../../img/icon-step3.png') 0 0 no-repeat;
            background-size: 70px;


            &.active {
              width: 80px;
              height: 80px;
              background: url('../../img/icono-step3-active.png') 0 0 no-repeat;
              background-size: cover;
            }
          }
        }
      }
    }

    &__title {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      font-size: 24px;
      font-weight: 400;
      line-height: 60px;
      color: #fff;
      padding: 0 0 10px;
    }

    &__description {
      text-align: center;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      color: #fff;
    }

    &__continue {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 25px;

      a {
        display: block;
        height: 60px;
        width: 100%;
        background: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 60px;
        color: #3774ba;
        text-align: center;
      }
    }
}
