.happiness {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  opacity: 1;
  z-index:900;
  padding: 25px;

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #3774ba;
  }

  .step {
    display: none;

    &.show {
      display: block;
    }

    header {
      padding-top: 20px;
    }

    video {
      margin: 15px 20px;
      width: 90%;
    }

    .emotion-icons {
      width: 30%;
      margin: 0 auto;

      img {
        display: none;

        &.show {
          display: inline-block;
        }
      }
    }
  }

  button {
    padding: 20px;
  }
}


  .happiness__results {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    opacity: 1;
    z-index:90;
    padding: 25px;
    background: url('../../img/background.jpg') center center no-repeat;
    background-size: cover;

    &__title {
      font-family: 'Roboto', sans-serif;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: -1px;
      color: #fff;
      text-align: center;
    }

      &__description {
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        font-weight: 300;
        letter-spacing: -1px;
        color: #fff;
        text-align: center;
      }

      &__header {
        display: none;
      }

      &__body {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        transform: translateY(-50%);

        p {
          font-family: 'Roboto', sans-serif;
          font-size: 30px;
          font-weight: 100;
          color: #fff;
          text-align: center;

          &:last-child {
            opacity: 0.8;
          }
        }
      }

      &__buttons {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 25px;

        button {
          display: block;
          height: 60px;
          width: 48%;
          background: #fff;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: 300;
          color: #3774ba;
          text-align: center;
          cursor: pointer;
          border: 0 none;
          float: left;

          &:nth-child(1),
          &:nth-child(2) {
            margin-right: 10px;
          }

          &:lart-child {
            margin-left: 10px;
          }
        }

        .btn {
          display: block;
        }
      }

      &.is-happy {

        .happy {
          display: block;
        }

        .btn {
          &.happy {
            display: block;
          }

          &.unhappy {
            display: none;
          }
        }
      }

      &.is-unhappy {

        .unhappy {
          display: block;
        }

        .btn {
          &.happy {
            display: none;
          }

          &.unhappy {
            display: block;
          }
        }
      }
    }
/*
  .btn,
  .result-description {
    display: none;
  }

  #happinessBtnNext {
    display: inline-block;
  }
*/
