//Strengthness
.strengthness {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  opacity: 1;
  z-index:900;
  padding: 25px;

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #3774ba;
    margin-bottom: 20px;
  }

  &__description {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    color: #3774ba;
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__timer {
    width: 100%;
    position: absolute;
    bottom: 100px;
    left: 0;
    text-align: center;

    .strengthness__body__timer {
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      font-weight: 100;
      color: #3774ba;
    }
  }

  &__btn {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 25px;

    a {
      display: block;
      height: 60px;
      width: 100%;
      background: #fff;
      font-family: 'Roboto', sans-serif;
      font-size: 20px;
      font-weight: 300;
      line-height: 60px;
      color: #3774ba;
      text-align: center;
      cursor: pointer;
      border: 0 none;
    }
  }

  &__results {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e1e1e1;
    opacity: 1;
    z-index:90;
    padding: 25px;
    background: url('../../img/background.jpg') center center no-repeat;
    background-size: cover;

    &__title {
      font-family: 'Roboto', sans-serif;
      font-size: 35px;
      font-weight: 300;
      letter-spacing: -1px;
      color: #fff;
      text-align: center;
    }

    &__description {
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: -1px;
      color: #fff;
      text-align: center;
    }

    &__header {
      display: none;
    }

    &__body {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);

      &__text {
        display: none;
      }

      p {
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 100;
        color: #fff;
        text-align: center;

        &:last-child {
          opacity: 0.8;
        }
      }
    }

    &__buttons {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 25px;

      button {
        display: block;
        height: 60px;
        width: 48%;
        background: #fff;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        line-height: 60px;
        color: #3774ba;
        text-align: center;
        cursor: pointer;
        border: 0 none;
        float: left;

        &:nth-child(1),
        &:nth-child(2) {
          margin-right: 10px;
        }

        &:lart-child {
          margin-left: 10px;
        }
      }
      .btn {
        display: none;
      }
    }

    &.success {

      .strengthness__results__header {
        &.strength {
          display: block;
        }
      }

      .strengthness__results__body {
        &__text {
          &.smart {
            display: block;
          }
        }
      }

      .btn {
        display: block;

        &.unstrength {
          display: none;
        }
      }
    }

    &.error {

      .strengthness__results__header {
        &.unstrength {
          display: block;
        }
      }

      .strengthness__results__body {
        &__text {
          &.unsmart {
            display: block;
          }
        }
      }

      .btn {
        display: block;

        &.strength {
          display: none;
        }
      }
    }
  }
}
