.summary {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #e1e1e1;
  opacity: 1;
  z-index:90;
  padding: 25px;
  background: url('../../img/background.jpg') center center no-repeat;
  background-size: cover;

    h1 {
      font-family: 'Roboto', sans-serif;
      font-size: 50px;
      font-weight: 300;
      letter-spacing: -1px;
      color: #fff;
      text-align: center;
    }

    .summary-text {
      font-family: 'Roboto', sans-serif;
      font-size: 25px;
      font-weight: 300;
      letter-spacing: -1px;
      color: #fff;
      text-align: center;
    }

    .result-img {
      padding: 50px 10px 0;
    }

    .result-img2 {
      display: none;
      padding: 20px 10px 0;

      h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 300;
        text-align: center;
        color: #fff;
        padding-bottom: 30px;
      }
    }

    .result-icons{
        margin: 20px 0;
        overflow: hidden;
        clear: both;

        &>li {
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 100;
            float: left;
            width: 33.33%;
            text-align: center;
            color: #fff;
        }
    }

    .results-footer {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      overflow: hidden;
      clear: both;
      padding: 25px;

        .results-share {
            float: left;
            width: 50%;
            padding-right: 10px;
            box-sizing: border-box;
        }

        .results-start-over {
            float: right;
            width: 50%;
            padding-left: 10px;
            box-sizing: border-box;
        }

        a {
          display: block;
          height: 60px;
          width: 100%;
          background: #fff;
          font-family: 'Roboto', sans-serif;
          font-size: 20px;
          font-weight: 300;
          line-height: 60px;
          color: #3774ba;
          text-align: center;
          cursor: pointer;
          border: 0 none;
        }
    }


}
